*.swp
*~
*.iml
*.tgz
.*.haste_cache.*
.DS_Store
.idea
.babelrc
.eslintrc
npm-debug.log
!lib
!dist
__tests__
__mocks__
target
coverage
node_modules
node
node_tmp
/.now-cli/
/lcov-report/
!/now-cli.*
!/dist/
!/lib/
!/target/
