@import '@servicenow/sass-kit/host';

.todo-list-item {
    display: flex;
    padding: 20px 10px;
    border-bottom: 1px solid #cdcdcd;
    text-align: left;

    label {
        padding: 0px 10px;
        width: 90%;
        font-size: 1rem;

        &.checked {
            text-decoration: line-through;
        }
    }

    &:hover {
        background-color: #f5f5f5;
    }
}

.checkbox {
	display: inline-block;
    cursor: pointer;
    border: 1px solid #cdcdcd;
    width: 20px;
    height: 20px;
    border-radius: 3px;
}

.checkbox .checked:before {
	content: "✓";
    display: inline-block;
    font-size: 18px;
    color: rgb(30, 133, 109);
    padding-left: 1px;
}

.checkbox:hover {
    box-shadow: 0px 0px 6px rgb(30, 133, 109);
}

.close-icon {
	display: inline-block;
    cursor: pointer;
    border: 1px solid #cdcdcd;
    font-size: 15px;
    padding: 1px 3px 0px 3px;
    border-radius: 3px;
    color: green;
    height: 18px;
}