@import '@servicenow/sass-kit/host';

.customer360-caller{
    display: grid;
    grid-row-gap: 9px;
    background-color: RGB(var(--now-color--neutral-0,255,255,255));
    box-sizing: border-box;
    border : 1px solid rgb(191, 197, 198);

    padding: 5px 5px 30px 10px;
    grid-template-columns: 90px 300px;
    width: 420px;

    .no-data-available, .loading-data{
        text-align: center;
        display: block;
        grid-column: 1/3;
        label{
            font-style: italic;
        }
    }

    .loading-data{
        padding: 70px 0px;
    }

    .no-data-available{
        padding: 30px 0px;
    } 
    
    .customer360-caller-header{
        border-bottom: 1px solid rgb(191, 197, 198);
        
        white-space: nowrap;
        text-overflow: ellipsis;
        font-weight: 400;
        font-size: 1rem;
        line-height: 2rem;
        color: RGB(var(--now-color--neutral-18,22,27,28));
        margin: 0px;
        overflow: hidden;

        grid-column: 1 / 3;
    }

    .customer360-caller-icon{
        grid-row: 2 / 5;
    }
    
    .customer360-caller-username , .customer360-caller-details{
        white-space: nowrap;
        text-overflow: ellipsis;
        font-weight: 600;
        font-size: 1rem;
        line-height: 2rem;
        color: RGB(var(--now-color--neutral-18,22,27,28));
        margin: 2px 2px;
        overflow: hidden;
    }

    .customer360-user-click{
        display: inline;
        cursor: pointer;
    }
    
}