@import '@servicenow/sass-kit/host';

.now-customer-360 {
	display: grid;
	grid-row-gap: 9px;
	background-color: RGB($now-color--neutral-0);
	box-sizing: border-box;
	border: 1px solid RGB($now-color--category-gray-1);
	padding: 5px 5px 30px 10px;
	grid-template-columns: 90px 300px;
	width: 420px;

	.now-customer-360-no-data-available,
	.now-customer-360-loading-data {
		text-align: center;
		display: block;
		grid-column: 1/3;
		label {
			font-style: italic;
		}
	}

	.now-customer-360-loading-data {
		padding: 70px 0px;
	}

	.now-customer-360-no-data-available {
		padding: 30px 0px;
	}

	.now-customer-360-caller-header {
		border-bottom: 1px solid RGB($now-color--category-gray-1);

		white-space: nowrap;
		text-overflow: ellipsis;
		font-weight: 400;
		font-size: $now-global-font-size--md;
		line-height: 2rem;
		color: RGB($now-color--neutral-18);
		margin: 0px;
		overflow: hidden;

		grid-column: 1 / 3;
	}

	.now-customer-360-caller-icon {
		grid-row: 2 / 5;
	}

	.now-customer-360-caller-name,
	.now-customer-360-caller-details {
		white-space: nowrap;
		text-overflow: ellipsis;
		font-weight: 600;
		font-size: $now-global-font-size--md;
		line-height: 2rem;
		color: RGB($now-color--neutral-18);
		margin: 2px 2px;
		overflow: hidden;
	}

	.now-customer-360-caller-click {
		display: inline;
		cursor: pointer;
	}
}
