@import '@servicenow/sass-kit/host';

.now-agent-assist-search-list-item {
	border-radius: $now-global-border-radius--sm;
	border-width: 1px;
	margin: 5px 0px;
	border-style: solid;
	border: 1px solid RGB($now-color--neutral-6);
	padding: $now-global-space--md;

	.now-agent-assist-search-list-item-header {
		display: grid;
		grid-template-columns: $now-global-space--xl auto;
	}

	.now-agent-assist-search-list-item-header-text {
		white-space: nowrap;
		text-overflow: ellipsis;
		display: block;
		font-weight: 400;
		position: relative;
		overflow: hidden;
		font-size: $now-global-font-size--sm;
		color: RGB($now-color--neutral-9);
		font-family: $now-global-font-family;
	}

	.now-agent-assist-search-list-item-title {
		white-space: nowrap;
		text-overflow: ellipsis;
		overflow: hidden;
		width: 160px;
		display: block;
		color: RGB($now-color--text-secondary);
		font-size: $now-global-font-size--md;
		margin: 10px 0px;
		font-weight: 600;
		text-align: left;
	}

	.now-agent-assist-search-list-item-content {
		text-overflow: ellipsis;
		overflow: hidden;
		white-space: normal;
		display: block;
		margin: 10px 0px;
		text-align: left;

		color: RGB($now-color--neutral-9);
		font-size: $now-global-font-size--sm;
		width: 200px;
		font-family: $now-global-font-family;
	}
}
