:host {
	display: block;
	text-align: center;
	height: 100%;
}
.task-board {
	display: flex;
	background: rgba(0, 0, 0, 0.8);
	width: 70%;
	height: inherit;
	margin: 0 auto;
	color: #ffffff;
}

.lane-container {
	flex: 1;
	margin: 0 10px;
	justify-content: center;
	height: inherit;
}
