@import '@servicenow/sass-kit/host';

.now-todo-list-modal-container-overlay {
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	z-index: $now-global-layer--modal;
	background-color: RGB($now-color--category-gray-1, 0.5);

	.now-todo-list-modal-container {
		max-width: 80%;
		margin: auto;
		border-radius: $now-global-border-radius--sm;
		border: 1px solid RGB($now-color--category-gray-0);
		background-color: RGB($now-color--neutral-0);
		position: relative;
		top: 1rem;

		.now-todo-list-modal-header {
			padding: 10px;
			font-size: $now-global-font-size--md;
			font-weight: bold;
			border-bottom: 1px solid RGB($now-color--category-gray-0);
		}

		.now-todo-list-modal-body {
			font-size: $now-global-font-size--sm;
			padding: 10px;
			min-height: 2rem;
			border-bottom: 1px solid RGB($now-color--category-gray-0);
		}

		.now-todo-list-modal-footer {
			margin: 10px 0px;
			display: flex;
			justify-content: flex-end;
			padding: 0px 10px;

			now-button:first-child {
				margin-right: 10px;
			}
		}
	}
}
