@import '@servicenow/sass-kit/host';

:host {
	height: 100%;
	width: 100%;
}
.now-todo-list-container {
	display: block;
	position: relative;
	width: 100%;
	border: 1px solid RGB($now-color--category-gray-1);
	padding-top: 10px;
	box-shadow: $now-global-drop-shadow--sm;
	border-radius: $now-global-border-radius--md;
	height: auto;
	overflow-y: hidden;
	background-color: RGB($now-color--neutral-0);

	&:hover {
		overflow-y: auto;
	}

	.now-todo-list-overlay {
		position: absolute;
		top: 0;
		left: 0;
		height: 100%;
		width: 100%;
		z-index: 1000;
		background-color: RGB($now-color--category-gray-1, 0.5);

		.now-todo-list-message {
			display: inline-block;
			background-color: RGB($now-color--neutral-0);
			padding: 30px 15px;
			border-radius: 5px;
			margin: 0;
			position: absolute;
			top: 50%;
			left: 50%;
			margin-right: -50%;
			transform: translate(-50%, -50%);
			box-shadow: $now-global-drop-shadow--sm;
		}
	}

	.now-todo-list {
		border-top: 1px solid RGB($now-color--category-gray-0);
		max-height: 200px;
		overflow-y: auto;
	}

	.now-todo-list-container-title {
		border-bottom: 1px solid RGB($now-color--category-gray-0);
		margin: 0 0 15px 0;
		padding: 10px;
	}

	.now-todo-list-input-wrapper {
		display: flex;
		justify-content: center;
		margin-bottom: 15px;
	}

	.now-todo-list-input {
		width: 70%;
		margin-right: 10px;
		line-height: 20px;
		padding: 0px 3px;
		font-size: 15px;

		&:focus {
			outline-color: RGB($now-color--primary-1);
		}
	}

	.now-todo-list-toggle-completed-items-wrapper {
		margin-top: 15px;
		text-align: center;

		now-button {
			margin-bottom: 15px;
		}
	}

	.now-todo-list-alert-container {
		margin: 0 auto;
		max-width: 95%;
	}
}
